[Unit]
Description=Lamp controller service
After=network.target

[Service]
User=root
Type=oneshot
RemainAfterExit=yes
ExecStart=/home/pi/lamp/rwcc/src/raspberry/client/controller.sh

[Install]
WantedBy=multi-user.target
